<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ConceptsTreeServlet</servlet-name>
        <servlet-class>seks.basic.servlets.ConceptsTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddConceptToOntoServlet</servlet-name>
        <servlet-class>seks.basic.servlets.AddConceptToOntoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConceptsTreeServlet</servlet-name>
        <url-pattern>/ConceptsTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddConceptToOntoServlet</servlet-name>
        <url-pattern>/AddConceptToOnto</url-pattern>
    </servlet-mapping>
</web-app>
